.fab-container {
  top: auto !important;
  right: 20px !important;
  bottom: 50px !important;
  left: auto !important;
  position: fixed !important;
  }
  
  .fab-toggler {
    float: right;
    z-index: 100;
  }

