<div>
    <mat-toolbar color="primary" class="mat-elevation-z6 header" *ngIf="!showSearch">
        <button mat-icon-button class="toolBar-icon" (click)="sidenav.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{ titulo }}</span>
        <span class="bar-spacer"></span>
        <button mat-button matSuffix mat-icon-button aria-label="Buscar" (click)="showSearch = !showSearch"
            [disabled]="(personasFiltered | async) == null">
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar>
    <mat-toolbar class="mat-elevation-z6 header" *ngIf="showSearch">
        <button mat-icon-button class="toolBar-icon" (click)="value=''; showSearch = !showSearch; filterPersons()"
            aria-label="Back" color="primary">
            <mat-icon aria-label="Cancelar busqueda">arrow_back</mat-icon>
        </button>
        <mat-form-field style="width: 100%; color:gray; margin: 20px" floatLabel="never">
            <input matInput type="text" placeholder="Buscar" [(ngModel)]="value" (keyup)="filterPersons()">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                (click)="value=''; filterPersons()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-toolbar>
    <mat-sidenav-container class="container">
        <mat-sidenav #sidenav mode="over" fixedInViewport="fixed" class="sidenav">
            <mat-toolbar>
                <mat-toolbar-row>
                  <h2> eCoop </h2>
                </mat-toolbar-row>
              </mat-toolbar>
          
              <mat-nav-list>
          
                <h2 matSubheader> Reportes </h2>
          
                <a mat-list-item
                   (click)="sidenav.close()"
                   routerLinkActive
                   #routerLinkActiveInstance="routerLinkActive"
                   [class.list-item-active]="routerLinkActiveInstance.isActive"
                   (click)="navigateCobranza()">
                  <mat-icon matListIcon>monetization_on</mat-icon>
                  Cobranza
                </a>
          
                <mat-divider></mat-divider>          
              </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-progress-bar mode="indeterminate" color="accent" *ngIf="(personasFiltered | async) == null"></mat-progress-bar>
            <div>
                <cdk-virtual-scroll-viewport [itemSize]="50" class="example-viewport">
                    <a *cdkVirtualFor="let persona of personasFiltered | async" (click)="onResumePersona(persona.id)"
                        class="list-item">
                        <div class="mat-list-item-content">
                            <div matRipple class="mat-item-icon">
                                <mat-icon mat-list-icon class="avatar" color="accent">supervised_user_circle</mat-icon>
                                <div class="list-text">
                                    <div class="mat-line"><b> {{persona.nombre + ' ' + persona.apellido}}</b></div>
                                    <div class="mat-line"> {{ persona.direccion?.calle + ' ' +
                                        persona.direccion?.numero }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </cdk-virtual-scroll-viewport>
                <div class="fab-container">
                    <button mat-fab color="accent" class="fab-toggler" (click)="addSocio()">
                        <mat-icon mat-list-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>