
.container {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.right {
  float: right
  }  
  
  .bar-spacer {
    flex: 1 1 auto;
  }

  .example-viewport {
    height: calc(100vh - 75px);
    width: inherit;
  }

  .list-item {
    margin: 2rem;
  }
  
  .mat-item-icon{
    display: flex;
  }

  .avatar{
    margin: 10px;
    font-size: 35px;
  }

  .list-text{
    margin: 10px;
  }

  .no-line .mat-form-field-underline {
    display: none;
  }
  
  .fab-container {
    top: auto !important;
    right: 20px !important;
    bottom: 50px !important;
    left: auto !important;
    position: fixed !important;
    }