<mat-toolbar color="primary" gdArea="header">
  <span class="span">eCoop</span>
</mat-toolbar>
  <mat-card class="log-card">
    <mat-progress-bar mode="indeterminate" *ngIf="showprogressbar"></mat-progress-bar>
    <mat-card-header>
      <p>LOGIN</p>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginFormGroup" fxLayout="column" fxLayoutAlign="center">
        <mat-form-field style="min-width: 300px">
          <input matInput placeholder="Ingrese su email" formControlName="email" required>
          <!--<mat-error *ngIf="this.invalid">{{getErrorMessage()}}</mat-error>-->
        </mat-form-field>
        <mat-form-field class="form-row">
          <input matInput placeholder="Ingrese su contraseña" formControlName="password"
            [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" mat-raised-button>Login</button>
      </form>
    </mat-card-content>
  </mat-card>